<div class="comment">
  <p>
    <%= comment.comment %><br>
    <%= comment.user.email if comment.user %><br>
    <%= link_to "Delete", [comment.idea, comment], method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>