<div class="jumbotron center">
	<h1><em>Welcome</em> to Traveler's!</h1>
	<p>
		Share your travel ideas with your friends.<br />
		<%= link_to "Register", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
	</p>
</div>